:root {
    --swap-interval: 1s;
}

.container {
    width: 100vw;
    max-width: 100vw;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    left: 0;
    padding: 0 2.5vw;
    padding-bottom: 3vw;
    height: calc(100% - 5.1vw);
    top: 5.1vw;
}

.title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title img {
    width: 100vw;
}

.branding-card-0,
.branding-card-1,
.branding-card-2 {
    position: absolute;
}

.branding-card-0 {
    top: 4vw;
}

.branding-card-1 {
    bottom: 2vw;
    left: 50%;
    transform: translateX(-50%);
}

.branding-card-2 {
    right: 2vw;
    top: 50%;
    transform: translateY(-50%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: overlay;
    pointer-events: none;
}